:host {
    width: 400px;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid #6E6E6E;
    border-radius: 5px;
    background-color: #fff;

    .todo-input {
        width: 270px;
        display: inline-block;
        border: 1px solid #ccc;
        box-shadow: inset 0 1px 3px #ddd;
        border-radius: 4px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 12px;
        padding-bottom: 12px;
        font-family: 'Onest', sans-serif;
    }
             
    .btn {
        background-image: linear-gradient(to right, #ff6e7f 0%, #bfe9ff  51%, #ff6e7f  100%);
        margin: 10px 0 10px 10px;
        padding: 13px 33px;
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: rgb(17, 1, 1);            
        box-shadow: 0 0 20px #eee;
        border-radius: 10px;
        border-color: #a4a4a4;
        font-family: 'Onest', sans-serif;

        &:hover {
            background-position: right center;
            color: #fff;
            text-decoration: none;
        }
    }
}

