.wrapper-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(256, 256, 256, 80%);
  z-index: 1;

  .confirm-modal {
    margin: 0 auto;
    transform: translate(0%, 100%);
    height: 300px;
    width: 500px;
    background-color: rgb(187, 15, 59);
    box-shadow: inset 0 0 11px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 20px;

    border-top: 8px solid rgb(249, 94, 107);
    border-bottom: 8px solid rgb(96, 9, 8);
    border-radius: 20px;

    .header-modal {
      width: 100%;
      height: 200px;
      border: 3px solid rgb(94, 5, 23);
      border-radius: 10px;
      background: radial-gradient(rgb(253, 246, 236), rgb(253, 232, 174));
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: inset 0 0 17px;

      .text-header-modal {
        font-size: 35px;
      }
    }

    .wrapper-buttons {
      display: flex;
      justify-content: space-between;
    }

    .confirm-text {

    }

    .btn {
      width: 185px;
      height: 60px;
      font-weight: 900;
      color: #fff;
      border: 2px solid rgb(93, 5, 23);
      border-radius: 15px;
      box-shadow: inset 0 0 5px;
    }

    .agree {
      background: linear-gradient(rgb(190, 223, 112), rgb(70, 129, 36));
    }
    .agree:active {
      background: linear-gradient(rgb(70, 129, 36), rgb(190, 223, 112));
    }

    .disagree {
      background: linear-gradient(rgb(240, 78, 107), rgb(150, 1, 19));
    }
    .disagree:active {
      background: linear-gradient(rgb(150, 1, 19), rgb(240, 78, 107));
    }
  }
}
