<div class="wrapper-modal">
  <div class="confirm-modal">

    <div class="header-modal">
      <p class="text-header-modal">{{textForModal}}</p>
    </div>

    <div class="wrapper-buttons">
<!--      <button class="btn agree" (click)="closeModal(true)">Confirm</button>-->
<!--      <button class="btn disagree" (click)="closeModal(false)">Cancel</button>-->
      <app-button (click)="closeModal(true)">Confirm</app-button>
      <app-button (click)="closeModal(false)">Cancel</app-button>
    </div>

  </div>
</div>
