.wrapper-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(256, 256, 256, 80%);

  .box-center-focuser {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    .confirm-modal {
      height: 320px;
      width: 500px;
      background-color: rgb(187, 15, 59);
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding: 0 20px;
      border-radius: 20px;
      box-shadow: inset 0 7px 6px 1px rgba(255, 255, 255, 0.5),
      inset 10px -10px 20px 1px rgba(0, 0, 0, 0.5),
      inset -10px -10px 20px 1px rgba(0, 0, 0, 0.5);

      .header-modal {
        width: 100%;
        height: 200px;
        border: 3px solid rgb(94, 5, 23);
        border-radius: 10px;
        background: radial-gradient(rgb(253, 246, 236), rgb(253, 232, 174));
        display: flex;
        justify-content: center;
        box-shadow: inset 0 0 17px;
        overflow-wrap: anywhere;
        overflow-y: auto;
        margin-top: 15px;

        .text-header-modal {
          font-size: 35px;
          text-align: center;
          line-height: 40px;
          padding: 25px;
        }
      }

      .header-modal::-webkit-scrollbar {
        background-color: #6e6e6e;
        border-radius: 10px;
        width: 16px;
      }
      .header-modal::-webkit-scrollbar-thumb {
        background-color: rgb(187, 15, 59);
        border-radius: 10px;
        box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, 0.4);
      }
      .header-modal::-webkit-scrollbar-thumb:hover {
        background-color: rgb(255, 0, 59);
      }

      .wrapper-buttons {
        display: flex;
        justify-content: space-between;

        .logo{
          width: 80px;
          height: 80px;
        }
      }
    }
  }
}
